*{
	box-sizing: border-box;
}
.box
{
position: fixed;
width: 1800px;
height: 100px;
margin-right: -4px;
top: 0em; 
background-color: black;
z-index: 2;
}
.mini_box_1{
	margin:10px;
	height: 40px;
	width: 100%;
	background-color: red;

a{

	color: black;
}
p{
	margin: 80px;
}
